[submodule "lib/matlab/jsonlab"]
	path = lib/matlab/jsonlab
	url = https://github.com/NeuroJSON/jsonlab.git
[submodule "lib/matlab/zmat"]
	path = lib/matlab/zmat
	url = https://github.com/NeuroJSON/zmat.git
[submodule "lib/c/ubj"]
	path = lib/c/ubj
	url = https://github.com/NeuroJSON/ubj.git
[submodule "lib/cpp/json"]
	path = lib/cpp/json
	url = https://github.com/NeuroJSON/json
[submodule "lib/python/pybj"]
	path = lib/python/pybj
	url = https://github.com/NeuroJSON/pybj.git
	branch = bjdata
[submodule "lib/python/pyjdata"]
	path = lib/python/pyjdata
	url = https://github.com/NeuroJSON/pyjdata.git
[submodule "lib/javascript/js-bjdata"]
	path = lib/javascript/js-bjdata
	url = https://github.com/NeuroJSON/js-bjdata.git
[submodule "lib/dart/dart-bjdata"]
	path = lib/dart/dart-bjdata
	url = https://github.com/nebkat/dart-bjdata.git
