[submodule "lib/matlab/jsonlab"]
	path = lib/matlab/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "lib/matlab/zmat"]
	path = lib/matlab/zmat
	url = https://github.com/fangq/zmat.git
[submodule "lib/c/ubj"]
	path = lib/c/ubj
	url = https://github.com/fangq/ubj.git
[submodule "lib/python/py-ubjson"]
	path = lib/python/pybj
	url = https://github.com/fangq/py-ubjson.git
	branch = bjdata
[submodule "lib/python/pyjdata"]
	path = lib/python/pyjdata
	url = https://github.com/fangq/pyjdata.git
